.addTask {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: cadetblue;
    align-items: center;
}

.addTask button {
    margin-top: 1rem;
    height: auto;
    width: 4rem;
    margin-left: 2rem;
    margin-bottom: 20px;
    border-radius: 14px;
    border: 1px solid granite; 
}

.addTask input {
    height: 2.5rem;
    width: 12rem;
    border-radius: 6px;
}

.task {
    align-items: center;
    justify-content: center;
    display: flex;
}

.task button {
    margin-left: 2rem;
}

.reset {
    
}